body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
#header {
    height: 5rem;
}
#content {
    flex: 1;
}
#footer {
    display: flex;
    justify-content: center;
}

